<header>
    <div class="left">
        <a routerLink="">
          <h1>FashionGuru</h1>
        </a>
    </div>
    <div class="right">
        <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['Home']" class="shop">
          Home
        </a>
        <a [routerLinkActive]="['active']" [routerLink]="['About']" class="about">
          About
        </a>
        <a [routerLinkActive]="['active']" [routerLink]="['Shop']" class="shop">
          Shop
        </a>
        <a [routerLinkActive]="['active']" [routerLink]="['Account']" class="account">
          Account
        </a>
        <a [routerLink]="['ShoppingCart']" class="cart">
          <lord-icon
            src="https://cdn.lordicon.com/slkvcfos.json"
            trigger="hover"
            style="width:40px;height:40px">
          </lord-icon>
          <p *ngIf="chosenItemsTotalQuantity.length>0">{{chosenItemsTotalQuantity.length}}</p>
        </a>
    </div>
</header>