<footer>
    <div class="subscribe">
        <h2>Join the FashionGuru Family</h2>
        <p>Get your weekly FashionGuru newsletter to your mailbox.</p>
        <div class="form">
            <input type="text" id="email" placeholder="Enter your email" />
            <button>Subscribe</button>
        </div>
    </div>
    <div class="fashionGuru">
        <h3>FashionGuru</h3>
        <p>
            <a href="#">About Us</a>
        </p>
    </div>
    <div class="contact">
        <h3>Contact</h3>
        <div class="links">
            <a href="mailto: fashionguru@gmail.com">Email</a>
            <a href="http://github.com/hbilgil" target="_blank">Github</a>
        </div>
    </div>
</footer>