<ul class="cards" *ngFor="let product of products">
    <li>
        <a routerLink="/Shop/Product/{{product.id}}">
            <div class="image-container">
                <img [src]="product.src || product.image1"
                (mouseover)="product.src = product.image2"
                (mouseout)="product.src = product.image1" alt={{product.name}}/>
            </div>
            <p class="price">€ {{product.price}}</p>
            <p class="name">{{product.name}}</p>
        </a>
    </li>
</ul>