<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Thank You for Registering</h3>
        <!--if there is no userData, the info is not displayed-->
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">We have sent a confirmation email to <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Please check your email and click on the link to verify your email address.</p>
        </div>
        <!--calling SendVerificationMail function from authService data-->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            Resend Verification Email
          </button>
        </div>
        <div class="redirectToLogin">
          <span>Go back to?<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
        </div>
      </div>
    </div>
    <img src="../../../assets/dashboard.webp" alt="verify-image" />
</div>