.about-div2 {
    height: auto;
    max-width: 100%;
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal sized columns template*/
    grid-template-rows: repeat(3, 1fr); /*3 equal sized rows template*/
    gap: 4rem;
    max-width: 60rem;
}

p {
    cursor: default;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    transition: 500ms ease-in-out;
}

p:hover {
    scale: 1.05,
}

.text1 {
    grid-row: 1 / 2; /* allocation in grid template of rows*/
    grid-column: 1 / 4; /* allocation in grid template of columns*/
    background-color: #f5a7a7;
    box-shadow: #5f3232 12px 12px 0 2px;
}

.text1:hover {
    box-shadow: #5f3232b7 18px 18px 5px 2px;
}

.text2 {
    grid-row: 2 / 3; /* allocation in grid template of rows*/
    grid-column: 2 / 5; /* allocation in grid template of columns*/
    background-color: #fad7b0;
    box-shadow: #684c2b 12px 12px 0 2px;
}

.text2:hover {
    box-shadow: #684c2bb7 18px 18px 5px 2px;
}

.text3 {
    grid-row: 3 / 4; /* allocation in grid template of rows*/
    grid-column: 1 / 4; /* allocation in grid template of columns*/
    background-color: #b0d3fa;
    box-shadow: #2b425c 12px 12px 0 2px;
}

.text3:hover {
    box-shadow: #2b425cb7 18px 18px 5px 2px;
}

@media only screen and (max-width: 750px) { /*responsive design style declarations*/
    
    .grid { /*grid template removed and flex structure is used*/
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 450px) {
    p {
        font-size: 1rem;
    }
}