<div class="about-div2">
    <div class="grid">
      <p class="text1">
        It's about that upcoming party, the catch up with friends and all the
        excitement that comes with it. We put our customers at the heart of
        everything we do. This helps us to understand how they feel when
        searching for products and ultimately, making sure they feel great
        when wearing them.
      </p>
      <p class="text2">
        By reacting quickly to the latest trends and interpreting them in a
        way that's wearable for our customers, we can help them find a look
        that fits their personal style. So whether they're looking for the
        latest trends, or simply that perfect party dress, we've got it
        covered.
      </p>
      <p class="text3">
        We're passionate about what we do and most importantly, we have fun
        doing it. Sharing this positivity with our customers is important to
        us. By weaving our brand through everything we do, from our people and
        store environments, to marketing and social media, we make sure our
        customers not only look good but feel great too.
      </p>
    </div>
</div>
