
@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

header {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 61px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5rem 1rem;
}

a {
    position: relative;
    text-decoration: none;
    color: #000000;
    background: none;
    border: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
    transition: 300ms;
}

a:after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
    height: 8px;
    bottom: 0px;
    left: 0;
    background-color: #ff613a;
    transform-origin: bottom left;
    transition: transform 300ms ease;
}

a:hover:after {
    -webkit-transform: scaleX(1);
    transform-origin: bottom left;
}
a:nth-of-type(4)::after {
    display: none;
}

a:nth-of-type(4):hover {
    color: #ff613a;
}

h1 {
  position: relative;
  margin: 0;
  font-weight: 400;
  letter-spacing: 5px;
  transition: 500ms ease-in-out;
  transition-delay: 100ms;
  font-family: 'Monoton', cursive;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.right .cart {
    position: relative;
}

.right a {
    font-family: 'BenchNine', sans-serif;
}

.cart {
    position: relative;
}

.cart p {
    text-align: center;
    position: absolute;
    margin: 0;
    padding: 0.1rem;
    bottom: 5px;
    right: -3px;
    background-color: #ff613a;
    border-radius: 50%;
    min-width: 1rem;
    min-height: 1rem;
    font-family: 'BenchNine', sans-serif;
    font-size: 0.7rem;
    font-weight: 800;
    color: white;
}

@media only screen and (max-width: 680px) {
header h1 {
    font-size: 1.7rem;
}

.right a {
    font-size: 1rem;
}
}

@media only screen and (max-width: 480px) {
header {
  padding: 0;
}
}