<div class="section2">
    <h1>Items on Sale</h1>
    <div class="cards">
        <div class="card">
          <a href="#">
            <img src="" alt="" />
          </a>
          <p>products[31].name</p>
        </div>
        <div class="card">
            <a href="#">
              <img src="" alt="" />
            </a>
            <p>products[50].name</p>
        </div>
        <div class="card">
            <a href="#">
              <img src="" alt="" />
            </a>
            <p>products[55].name</p>
        </div>
        <div class="card">
            <a href="#">
              <img src="" alt="" />
            </a>
            <p>products[62].name</p>
        </div>
    </div>
</div>