<div class="section2">
    <h1>Items on Sale</h1>
    <div class="cards">
        <div class="card">
          <a routerLink="/Shop/Product/3">
            <img [src]="products[2].src || products[2].image1"
            (mouseover)="products[2].src = products[2].image2"
            (mouseout)="products[2].src = products[2].image1" alt="{{products[2].name}}" />
          </a>
          <p>{{products[2].name}}</p>
        </div>
        <div class="card">
            <a routerLink="/Shop/Product/15">
              <img [src]="products[14].src || products[14].image1"
              (mouseover)="products[14].src = products[14].image2"
              (mouseout)="products[14].src = products[14].image1" alt="{{products[14].name}}"/>
            </a>
            <p>{{products[14].name}}</p>
        </div>
        <div class="card">
            <a routerLink="/Shop/Product/29">
              <img [src]="products[28].src || products[28].image1"
              (mouseover)="products[28].src = products[28].image2"
              (mouseout)="products[28].src = products[28].image1" alt="{{products[28].name}}" />
            </a>
            <p>{{products[28].name}}</p>
        </div>
        <div class="card">
            <a routerLink="/Shop/Product/38">
              <img [src]="products[37].src || products[37].image1"
              (mouseover)="products[37].src = products[37].image2"
              (mouseout)="products[37].src = products[37].image1" alt="{{products[37].name}}" />
            </a>
            <p>{{products[37].name}}</p>
        </div>
    </div>
</div>