<div class="shopping-cart">
    <a [routerLink]="['/Shop']" class="left-arrow">
        {{"< Go to Shop"}}
    </a>
    <!--if there is no chosenItem, it will be shown-->
    <div class="empty-cart" *ngIf="chosenItems.length == 0; else proceedCheckOut">
        <p>Your cart is empty</p>
        <p>Fill it up with our collection!</p>
        <a [routerLink]="['/Shop']">Shop</a>
    </div>
    <!--ng-template when ngIf expression is falsified-->
    <ng-template #proceedCheckOut>
    <ul>
        <!--if there is more than 1 item in shopping cart, it will be shown-->
        <h1 *ngIf="totalQuantity.length>1; else onlyOne">
            Your shopping cart: ( <span> {{ totalQuantity.length }} </span> ) items
        </h1>
        <!--ng-template when ngIf expression is falsified-->
        <ng-template #onlyOne>
            <h1>
                Your shopping cart: ( <span> {{ totalQuantity.length }} </span> ) item
            </h1>
        </ng-template>
        <!--chosen items data will be provided by chosenItems data-->
        <li *ngFor="let item of chosenItems">
            <a routerLink="/Shop/Product/{{item.id}}">
                <img src="{{item.image}}" alt="{{item.name}}" />
            </a>
            <div class="description">
                <a routerLink="/Shop/Product/{{item.id}}">
                  <p class="name">{{item.name}}</p>
                </a>
                <p class="size">{{item.size}}</p>
                <lord-icon
                    src="https://cdn.lordicon.com/gsqxdxog.json"
                    trigger="hover"
                    style="width:25px;height:25px"
                    (click)="removeItem(item)">
                </lord-icon>
            </div>
            <div class="add-and-remove">
                <!--button is disabled when there is just 1 quantity of chosen item-->
                <button [disabled]="item.quantity == 1" (click)="decreaseQuantity(item, item.size)">
                  -
                </button>
                <p class="bold">{{item.quantity}}</p>
                <!--ngSwitch is used to disable button and increase quantity when there is an item in stocks for a chosen size-->
                <div [ngSwitch]="item.size">
                    <button *ngSwitchCase="'S'" [disabled]="item.stockA.S == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'M'" [disabled]="item.stockA.M == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'L'" [disabled]="item.stockA.L == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'XL'" [disabled]="item.stockA.XL == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'37'" [disabled]="item.stockB.num1 == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'38'" [disabled]="item.stockB.num2 == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'39'" [disabled]="item.stockB.num3 == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'40'" [disabled]="item.stockB.num4 == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'41'" [disabled]="item.stockB.num5 == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'42'" [disabled]="item.stockB.num6 == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'43'" [disabled]="item.stockB.num7 == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'44'" [disabled]="item.stockB.num8 == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'45'" [disabled]="item.stockB.num9 == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                    <button *ngSwitchCase="'46'" [disabled]="item.stockB.num10 == 0" (click)="increaseQuantity(item, item.size)">
                        +
                    </button>
                </div>
            </div>
        </li>
        <div class="total-price">
            <h3>Total</h3>
            <div class="sub-total">
                <p>Sub-total</p>
                <div>{{ totalPrice.toFixed(2) }}</div>
            </div>
            <div class="shipping">
                <!--if total prices is less than 100, it will be shown-->
                <p>Shipping <span *ngIf="totalPrice<=100"> {{'(free shipping on orders over €100)'}} </span></p>
                <!--if total prices is more than 100, it will be shown-->
                <div *ngIf="totalPrice>100; else shipping">
                    FREE
                </div>
                <!--ng-template when the total price is less than 100-->
                <ng-template #shipping>
                    <div>
                        {{shippingPrice}}
                    </div>
                </ng-template>
            </div>
            <div class="total">
                <p>Total (VAT included)</p>
                <!--if total prices is more than 100, it will be shown-->
                <div *ngIf="totalPrice>100; else shippingAdded">
                    € {{ totalPrice.toFixed(2) }}
                </div>
                <!--ng-template when the total price is less than 100-->
                <ng-template #shippingAdded>
                    <div>€ {{ (totalPrice + shippingPrice).toFixed(2) }}</div>
                </ng-template>
            </div>
            <a [routerLink]="['/ErrorPage']" (click)="addItemsToOrderedItems()">ORDER</a>
        </div>
        <div class="payment-method">
            <h3>We accept</h3>
            <div class="icons">
                <img src="../../assets/credit-cards.png" alt="credit cards"/>
            </div>
        </div>
    </ul>
    </ng-template>
</div>