<div class="shopping-cart">
    <div class="empty-cart">
        <p>Your cart is empty</p>
        <p>Fill it up with our collection!</p>
        <a [routerLink]="['/Shop']">Shop</a>
    </div>
    <ul>
        <h1>My cart 2 items</h1>
        <li>
            <a href="">
                <img src="#" alt="product-image" />
            </a>
            <div class="description">
                <a href ="">
                  <p class="name">name</p>
                </a>
                <p class="size">size</p>
                <lord-icon
                    src="https://cdn.lordicon.com/gsqxdxog.json"
                    trigger="hover"
                    style="width:25px;height:25px">
                </lord-icon>
            </div>
            <div class="add-and-remove">
                <button>
                  -
                </button>
                <p class="bold">1</p>
                <button>
                  +
                </button>
            </div>
        </li>
        <div class="total-price">
            <h3>Total</h3>
            <div class="sub-total">
                <p>Sub-total</p>
                <div>totalPrice</div>
            </div>
            <div class="shipping">
                <p>Shipping</p>
                <div>FREE</div>
            </div>
            <div class="total">
                <p>Total (VAT incl.)</p>
                <div>EU totalPrice</div>
            </div>
            <a [routerLink]="['/ErrorPage']">ORDER</a>
        </div>
        <div class="payment-method">
            <h3>We accept</h3>
            <div class="icons">
                <img src="../../assets/credit-cards.png" alt="credit cards"/>
            </div>
        </div>
    </ul>
</div>
