<div class="shopping-cart">
    <div className="empty-cart">
        <p>Your cart is empty</p>
        <p>Fill it up with our collection!</p>
        <a href="/shop">Shop</a>
    </div>
    <ul>
        <h1>My cart 2 items)</h1>
        <li>
            <a href="">
                <img src="#" alt="product-image" />
            </a>
            <div class="description">
                <a href ="">
                  <p class="name">product.name</p>
                </a>
                <p class="size">product.size</p>
                <div class="delete">
                    <lord-icon
                    src="https://cdn.lordicon.com/qjwkduhc.json"
                    trigger="hover"
                    style="width:20px;height:20px">
                    </lord-icon>
                    <p>Remove</p>
                </div>
            </div>
            <div class="add-and-remove">
                <button>
                  -
                </button>
                <p>product.quantity</p>
                <button>
                  +
                </button>
            </div>
        </li>
        <div class="total-price">
            <h3>Total</h3>
            <div class="sub-total">
                <p>Sub-total</p>
                <div>totalPrice</div>
            </div>
            <div class="shipping">
                <p>Shipping</p>
                <div>FREE</div>
            </div>
            <div class="total">
                <p>Total (VAT incl.)</p>
                <div>EU totalPrice</div>
            </div>
            <a href to="/404">ORDER</a>
        </div>
        <div class="payment-method">
            <h3>We accept</h3>
            <div class="icons">
                <img src="../../assets/credit-cards.png" alt="credit cards"/>
            </div>
        </div>
    </ul>
</div>
