.shopping-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 10px;
    font-family: 'Dosis', sans-serif;
}

.left-arrow {
    align-self: flex-start;
    margin: 0 1rem;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
}

.left-arrow:hover {
    background-color: black;
    color: white;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f7f7f7;
    margin-top: 20px;
    padding: 5rem;
    gap: 1rem;
    font-size: 1.5rem;
    border-radius: 4px;
    box-shadow: #0000002f 0 5px 5px;
}


.empty-cart a {
    margin-top: 1rem;
    text-decoration: none;
    color: white;
    background: #ff613a;
    width: 12rem;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: 400ms;
    border-radius: 6px;
}

.empty-cart a:hover {
    background: #ff8567;
}

h1 {
    font-size: 2rem;
}

h1 span {
    color: crimson;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 26rem;
    list-style: none;
    gap: 1rem;
    padding: 2rem 0rem;
}

li {
    box-shadow: #0000002f 0 5px 5px;
    box-sizing: border-box;
    padding: 1rem 2rem;
    display: flex;
    width: 100%;
    min-height: 8rem;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #f7f7f7;
    font-weight: 200;
    gap: 2rem;
    border-radius: 4px;
}

.description {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    flex: 1;
}

li img {
    height: 5rem;
    width: 5rem;
    background-color: white;
    padding: 1rem;
    object-fit: contain;
}

.add-and-remove {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    border: black solid 1px;
    height: 2rem;
    width: 5rem;
    box-sizing: border-box;
}

.add-and-remove button {
    width: 30%;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: black;
    font-size: 1rem;
}

.add-and-remove button:hover {
    color: #ff613a;
}

.add-and-remove button:disabled {
    pointer-events: none;
    color:rgb(182, 182, 182);
}

.name {
    max-width: 12rem;
}

lord-icon {
    cursor: pointer;
    margin: 0;
}

.total-price,
.payment-method {
    box-sizing: border-box;
    background-color: #f7f7f7;
    min-height: 10rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
    box-shadow: #0000002f 0 5px 5px;
    border-radius: 4px;
}

.total-price h3,
.payment-method h3 {
    align-self: flex-start;
    margin-bottom: 1rem;
}

.sub-total,
.shipping,
.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shipping {
    border-bottom: solid 1px rgb(182, 182, 182);
    padding-bottom: 0.5rem;
}

.shipping span {
    color:rgb(182, 182, 182);
}

.total {
    font-weight: 800;
    margin-top: 0.5rem;
}
      
.total-price a {
    background: #ff613a;
    padding: 0.5rem 0;
    text-align: center;
    color: white;
    margin-top: 1rem;
    transition: 300ms;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
}

.total-price a:hover {
    background: #ff8567;
}

.payment-method {
    justify-items: flex-start;
    align-items: flex-start;
    min-height: auto;
}

.payment-method img {
    height: 2rem;
    width: auto;
}

.bold {
    font-weight: 800;
}

@media only screen and (max-width: 850px) {/*responsive design styling*/
    .shopping-cart {
        padding: 1rem;
    }
}

@media only screen and (max-width: 650px) {
    .shopping-cart {
      padding: 1rem;
    }

    li {
        gap: 1rem;
        min-width: 0;
    }
}