<div class="top">
  <div class="genders">
    <!--ngModel will be used to get gender value in two way data binding-->
    <input name="gender" type="radio" value="Men" label="Men" 
    [(ngModel)]="selectedGenderButtonValue"
    (change)="onButtonSelectionGenderChanged()"/>
    <input name="gender" type="radio" value="Women" label="Women" 
    [(ngModel)]="selectedGenderButtonValue"
    (change)="onButtonSelectionGenderChanged()"/>
  </div>
  <div class="categories">
    <div class="category-buttons">
      <!--ngModel will be used to get category value in two way data binding-->
      <input name="category" type="radio" value="T-shirts" label="T-shirts" 
      [(ngModel)]="selectedCategoryButtonValue"
      (change)="onButtonSelectionCategoryChanged()"/>
      <input name="category" type="radio" value="Sweaters" label="Sweaters" 
      [(ngModel)]="selectedCategoryButtonValue"
      (change)="onButtonSelectionCategoryChanged()"/>
      <input name="category" type="radio" value="Sneakers" label="Sneakers" 
      [(ngModel)]="selectedCategoryButtonValue"
      (change)="onButtonSelectionCategoryChanged()"/>
    </div>
    <!--ngModel will be used to get searched value in two way data binding-->
    <input
      type="text"
      class="search"
      placeholder="Search in {{selectedGenderButtonValue}}'s {{selectedCategoryButtonValue}}"
      [(ngModel)]="enteredSearchValue"
      (input)="onSearchTextChanged()"/>
  </div>
</div>