<div class="top">
    <div class="genders">
      <button class="men active">
        Men
      </button>
      <button class="women">
        Women
      </button>
    </div>
    <div class="categories">
      <div class="category-buttons">
        <button class="category-button active">
            T-shirts
        </button>
        <button class="category-button">
            Sweaters
        </button>
        <button class="category-button">
            Sneakers
        </button>
      </div>
      <input
        type="text"
        class="search"
        placeholder="Search in products"
      />
    </div>
</div>