<div class="product">
    <a [routerLink]="['/Shop']" class="return">
        {{"< Go back"}}
    </a>
    <div class="main">
        <div class="left">
            <div class="product-img">
                <img [src]="product.src || product.image1"
                (mouseover)="product.src = product.image2"
                (mouseout)="product.src = product.image1" alt={{product.name}} />
            </div>
        </div>
        <div class="right">
            <h1>{{product.name}}</h1>
            <h3>
                € {{product.price}} <p>VAT included</p>
            </h3>
            <select>
                <option value="Small">EU - Small</option>
                <option value="Medium">EU - Medium</option>
                <option value="Large">EU - Large</option>
                <option value="XL">EU - XL</option>
            </select>
            <button>
                Add to cart
            </button>
        </div>
    </div>
</div>