<div class="product">
    <a href="/shop" class="return">
        {{"< Go back"}}
    </a>
    <div class="main">
        <div class="left">
            <div class="product-img">
                <img src=""alt="product.name" />
            </div>
        </div>
        <div class="right">
            <h1>product.name</h1>
            <h3>
                EU 2 <p>VAT included</p>
            </h3>
            <select>
                <option value="Small">EU - Small</option>
                <option value="Medium">EU - Medium</option>
                <option value="Large">EU - Large</option>
                <option value="XL">EU - XL</option>
            </select>
            <button>
                Add to cart
            </button>
        </div>
    </div>
</div>