.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-family: 'Dosis', sans-serif;
}

.arrows {
    display: flex;
    justify-content: space-between;
}

.left-arrow {
    align-self: flex-start;
    margin: 0 1rem;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
}

.right-arrow {
    align-self: flex-end;
    margin: 0 1rem;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
}

.left-arrow:hover,
.right-arrow:hover {
    background-color: black;
    color: white;
}

.main {
    max-width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 6rem;
}

.product-img {
    position: relative;
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    object-fit: cover;
}

.right {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

h1,
h3,
p {
    margin: 0;
}

h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 400;
    font-size: 1.5rem;
}

p {
    font-weight: 200;
    font-size: 1rem;
}

select {
    border: solid black 2px;
    color: black;
    padding: 0 0.2rem;
    height: 3rem;
    font-size: 1rem;
    cursor: pointer;
}

select:hover {
    background-color: #d3e6ffe4;
}

button {
    background-color: rgb(0, 0, 0);
    background-image: linear-gradient(#228f43, #228f43);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    transition: 400ms;
    cursor: pointer;
}

button:hover {
    background-color: #1d1d1db4;
}

button.active {
    background-size: 100% 100%;
    color: rgb(255, 255, 255);
    transition: 600ms;
}

.ng-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    gap: 40px;
}

span.red1 {
    color: crimson;
    font-weight: 200;
    font-size: 1rem;
    line-height: 0;
    align-self: center;
}

.red-button {
    background-color: crimson;
}
  
.red2 {
    color: crimson;
}

lord-icon {
    cursor: pointer;
}

.favorites {
    display: flex;
    align-items: center;
    
}

.green-span {
    display: none;
    color:forestgreen;
}

.red-span {
    display: none;
    color:deeppink;
}

.favorites:hover span {
    display: inline-block;
}

p-accordionTab:nth-of-type(2),
p-accordionTab:nth-of-type(3) {
    line-height: 1.5;
}

p-accordionTab li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

p-accordionTab li > img {
    margin: 2px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 933px) {
    .main {
        flex-direction: column-reverse;
        gap: 0;
        padding: 1rem 2rem;
        padding-bottom: 3rem;
    }
    
    .left {
        width: 100%;
    }
    
    .product-img {
        width: 100%;
        height: auto;
    }
       
    .right {
        width: 90%;
        margin-bottom: 2rem;
    }
}