<div class="continer">
    <nav>
        <ul>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['Orders']">
                <div class="basket-icon">
                    <lord-icon
                        src="https://cdn.lordicon.com/qzwudxpy.json"
                        trigger="hover"
                        style="width:70px;height:40px">
                    </lord-icon>
                </div>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['Favorites']">
                <div class="star-icon">
                    <lord-icon
                        src="https://cdn.lordicon.com/hqrgkqvs.json"
                        trigger="hover"
                        style="width:70px;height:40px">
                    </lord-icon>
                </div>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['Info']">
                <div class="account-icon">
                    <lord-icon
                        src="https://cdn.lordicon.com/vusrdugn.json"
                        trigger="hover"
                        style="width:70px;height:40px">
                    </lord-icon>
                </div>
            </li>
            <li (click)="logOut()">
                <div class="log-out-icon">
                    <lord-icon
                        src="https://cdn.lordicon.com/vsgcujbd.json"
                        trigger="hover"
                        style="width:70px;height:40px">
                    </lord-icon>
                </div>
            </li>
        </ul>
    </nav>
</div>