.container {
    width: 10%;
}

.sidebar {
    float: left;
	position: relative;
	top: 0;
    left: 0;
	background: transparent;
    padding: 100px 0;
    
}

.unordered-list {
	text-align: center;
}

.list-item {
    list-style: none;
}

.list-item:nth-child(1) {
	position: relative;
    width: 70px;
    cursor: pointer;
    background: white;
	transition:all .4s ease-out;
    border-top: 2px solid #ff613a;
    border-right: 2px solid #ff613a;
}

.list-item:nth-child(2) {
	position: relative;
    width: 70px;
    cursor: pointer;
    background: white;
	transition:all .4s ease-out;
    border-right: 2px solid #ff613a;
}

.list-item:nth-child(3) {
	position: relative;
    width: 70px;
    cursor: pointer;
    background: white;
	transition:all .4s ease-out;
    border-right: 2px solid #ff613a;
}

.list-item:nth-child(4) {
	position: relative;
    width: 70px;
    cursor: pointer;
    background: white;
	transition:all .4s ease-out;
    border-right: 2px solid #ff613a;
    border-bottom: 2px solid #ff613a;
}

.list-item:after {
	position: absolute;
    background: #ff613a;
    color: white;
	top:0;
	left: 70px;
	width: 70px;
    height: 100%;
    opacity:.5;
    transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition:all .4s ease-out;
}

.list-item:nth-child(1):after { 
    content: "Orders";
	line-height: 88px;
    border-right: 2px solid #ff613a;
    border-top: 2px solid #ff613a;
}

.list-item:nth-child(2):after {
    content: "Favorites"; 
	line-height: 88px;
    border-right: 2px solid #ff613a;
}

.list-item:nth-child(3):after { 
    content: "Infos";
	line-height: 88px;
    border-right: 2px solid #ff613a;
}

.list-item:nth-child(4):after { 
    content: "Log-out";
	line-height: 88px;
    border-right: 2px solid #ff613a;
    border-bottom: 2px solid #ff613a;
}

.list-item.active{
	transform: translateX(-70px);
}

.list-item.active:after {
    opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1) ;
}

.list-item > div {
	display: inline-block;
	padding: 25px 0;
}

.list-item div {
    position: relative;
}

@media only screen and (max-width: 800px) {
    .unordered-list {
        align-self: center;
        display: flex;
	    position: relative;
	    background: transparent;
    }

    .list-item {
        list-style: none;
    }

    .list-item:after {
        transform:none;
    }

    .list-item:nth-child(1) {
        position: relative;
        width: 70px;
        cursor: pointer;
        background: white;
        border: 2px solid #ff613a !important;
    }
    
    .list-item:nth-child(2) {
        position: relative;
        width: 70px;
        cursor: pointer;
        background: white;
        border-right: 2px solid #ff613a !important;
        border-top: 2px solid #ff613a !important;
        border-bottom: 2px solid #ff613a !important;
    }
    
    .list-item:nth-child(3) {
        position: relative;
        width: 70px;
        cursor: pointer;
        background: white;
        border-right: 2px solid #ff613a !important;
        border-top: 2px solid #ff613a !important;
        border-bottom: 2px solid #ff613a !important;
    }
    
    .list-item:nth-child(4) {
        position: relative;
        width: 70px;
        cursor: pointer;
        background: white;
        border-top: 2px solid #ff613a !important;
        border-bottom: 2px solid #ff613a !important;
    }

    .list-item:nth-child(1):after { 
        content: none;
    }
    
    .list-item:nth-child(2):after {
        content: none;
    }
    
    .list-item:nth-child(3):after { 
        content: none;
    }

    .list-item:nth-child(4):after { 
        content: none;
    }

    .list-item.active{
        transform: none;
    }
    
    .list-item.active:after {
        opacity: 0;
        transform: none;
    }

    lord-icon {
        width: 50px;
        height: 50px;
    }
}